[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.1
[submodule "src/deps/nnabla-c-runtime"]
	path = src/deps/nnabla-c-runtime
	url = https://github.com/sony/nnabla-c-runtime.git
	branch = maaster
