[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.1
[submodule "thirdparty/nnabla-c-runtime"]
	path = thirdparty/nnabla-c-runtime
	url = https://github.com/sony/nnabla-c-runtime
